body {
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: "Nunito", sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #f4f2ee;
}


/* //////////////////////// NAVBAR SECTION //////////////////////////////// */
.logoimg {
    height: 4rem;
}

#mainNavbar {
    font-size: 1rem;
    font-weight: 100;
    font-family: "Nunito", sans-serif;
}

#mainNavbar .nav-link {
    color: white;
    transition: .4s;
}

#mainNavbar .nav-link:hover {
    color: gold;
    font-size: 1.1rem;
    box-shadow: 0 0.5em 0.5em -0.4em gold;
    transform: translateY(-0.20em);
}


/* Navbar Brand Section*/
#mainNavbar .navbar-brand {
    color: white;
}

#mainNavbar .navbar-brand {
    font-family: Papyrus;
    font-weight: bold;
    border-width: 1px;
    box-sizing: border-box;
    padding: 1px 5px 1px;
    transition: .4s;
}

#mainNavbar .navbar-brand:hover {
    color: gold;
    box-shadow: 0 0.5em 0.5em -0.4em gold;
    transform: translateY(-0.20em);
    cursor: pointer;
}


.navbar.scrolled {
    background: rgba(245, 245, 245, 0.478);
    transition: background 500ms;
}

/* //////////////////////// SLIDE SECTION //////////////////////////////// */


.carousel {
    margin: 0 auto;
    height: 100%;
}

/* .carousel img{
    height:600px;
} */

.carousel-content {
    display: flex;
    justify-content: center;
    font-family: Papyrus;
    font-weight: bold;
    font-size: 3.5em;
    text-align: center;
    position: absolute;
    top: 30%;
    bottom: 40%;
    left: 30%;
    right: 30%;
    z-index: 20;
    color: white;
    text-shadow: 0 3px 4px rgba(0, 0, 0, 0.774);
}



/* //////////////////////// FIRST SECTION //////////////////////////////// */

#firstSection {
    background-color: #f4f2ee;
    /* background-image: linear-gradient(#f4f2ee,#f4f2ee,#CE007F); */
    padding-top: 5%;
    padding-bottom: 0%;

}

/* .article-side{
    background-color: white;
    border-radius: 10px;
} */
.article{
    margin: 0 auto;
    padding-top: 5%;
    height: 90%;
    width: 70%;
}
.article-details{
    background-color: #CE007F;
    color: white;
    height: 100%;
    width: 90%;
    border-radius: 10px;
    text-align: center;
    transition: 500ms;
}
.article-details:hover{
    background-color: #a40065;
}

.bookapp{
    padding-top: 10%;
    padding-bottom: 5%;
    color:white;
    font-weight: bold;
    font-size: 3em;
}


/* p.enlarge {
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
} */

/* @-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-5px); }
} */

/* @keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(0px);
            font-size: 3.3em;;}
} */

.booknow{
    background-color: white;
    color: #CE007F;
    font-weight:600;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 10px;
    transition: 400ms;
    font-size: 1.2rem;
    text-align: center;
    
}

.booknow:focus{
    outline: 0;
    box-shadow: 0 0 0 0.2rem white;
}
.booknow:hover{
    background-color: white;
    box-shadow: 0em 0.5em 0.8em -0.4em white;
    transform: translateY(-0.30em);
    font-size: 1.3rem;
    cursor: pointer;
}


#mission {
    color: black;
    text-align: center;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

#missionimg {
    display: flex;
    justify-content: center
}

#missionimg img {
    height: 10%;
    width: 10%;
    transition: .5s;
}

#missiontitle {
    color: #CE007F;
    /* padding-bottom: 5%; */
    /* font-family: Papyrus; */
    font-weight: bolder;
    font-size: 4em;
    text-shadow: 0 3px 4px rgba(0, 0, 0, 0.774);
}

#missiondesc p{
    color: #CE007F;
    font-weight: bolder;
    font-size: 1.2em;
}




/* //////////////////////// SECOND SECTION //////////////////////////////// */
#secondSection {
    padding-top: 2%;
    padding-bottom: 8%;
    background-color: #f4f2ee;
}

.sectionHeadings {
    /* color: gray; */
    padding-top: 4%;
    padding-bottom: 2%;
    font-family: Papyrus;
    font-weight: bolder;
    font-size: 2.5em;
}

.services {
    padding-top: 5%;
    padding-left: 2%;
    transition: .5s;
}

#servround {
    display: flex;
    justify-content: center;
    transition: 1s;
}

#servround img {
    height: 30%;
    width: 30%;
}

#servround:hover{
 transform:rotate(360deg);
}

#serv1,#serv2,#serv3,#serv4{
background-color: #f4f2ee;
}


#serv1:hover {
    border-color: hotpink;
    border-radius: 10px;
    box-shadow: 0em 0.5em 0.8em -0.4em hotpink;
    transform: translateY(-0.30em);
    cursor: pointer;
}

#serv2:hover {
    border-color: hotpink;
    border-radius: 10px;
    box-shadow: 0em 0.5em 0.8em -0.4em hotpink;
    transform: translateY(-0.30em);
    cursor: pointer;
}

#serv3:hover {
    border-color: hotpink;
    border-radius: 10px;
    box-shadow: 0em 0.5em 0.8em -0.4em hotpink;
    transform: translateY(-0.30em);
    cursor: pointer;
}

#serv4:hover {
    border-color: hotpink;
    border-radius: 10px;
    box-shadow: 0em 0.5em 0.8em -0.4em hotpink;
    transform: translateY(-0.30em);
    cursor: pointer;
}


#packdesc {
    padding-top: 10%;
    text-align: center;
}

#packdesctitle {
    padding-top: 10%;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

.magentabutton{
    background-color: #CE007F;
    color: white;
    border-color: white;
    border-radius: 10px;
    transition: 400ms;
    padding: 10px 20px 10px 20px;
}

.magentabutton:focus{
    outline: 0;
    box-shadow: 0 0 0 0.2rem white;
}
.magentabutton:hover{
    background-color: #CE007F;
    font-size: 1.1rem;
}

.card{
    background-color: rgba(255, 255, 255, 0);   
    border-style: none;
}
.card-header{
    background-color: rgba(255, 255, 255, 0);
}
.card-body{
    background-color: white;
}




/* //////////////////////// THIRD SECTION //////////////////////////////// */

#fillerSection{
    background-image: url("./imgs/engin-akyurt-MeNE7Ockq4w-unsplash.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    color:white;
    min-height: 500px;
    text-align: center;
}

.background-tint{
    background-color: rgba(0, 0, 0, 0.39);
    background-blend-mode: multiply;
}

.fillerBanner{
    font-size: 4em;
    padding-top: 10%;
    padding-bottom:10%;
    width: 100%;  
}


/* .bannerImage{
    flex:1;
} */


  /* //////////////////////// FOURTH SECTION //////////////////////////////// */
#fourthSection {
    position: relative;
    padding-top: 0%;
    background-color: #f4f2ee;
    /* background-image: linear-gradient(#CE007F,#CE007F,#f4f2ee); */
    /* background-color: #B0D5C0; */
    color: white;
    max-height: 770px;
    overflow: hidden;
}

#fourthSection h1 {
    padding-bottom: 3%;
}

/* #fourthSection P {
    padding-left: 5%;
    padding-right: 5%;
} */

#fourthSection video{
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ce007fa5;
    /* background: rgba(48,25,52,0.75); */
    object-fit: contain;
    overflow: hidden;
  }


.checked {
    color: orange;
  }
.cardSlide{
    margin: 0 auto;
    display: flex;
    width: 80%;
    height: 80%;
    justify-content: center;
    text-align: center;
}
.card-item{
    height:100%
}
.carouselItem{
    padding-top: 2%;
    height:80%
}
.cardBody{
    margin: 0 auto;
    /* background-color: rgba(255, 255, 255, 0.686); */
    color:black;
    height: 80%;
    width: 80%;
}
.card-body1{
    /* background-color: rgba(255, 255, 255, 0); */
    background-color: rgba(255, 255, 255, 0.744);
    border-radius: 25% 10%;
    min-height: 80%;
}

.card-title{
    padding-top: 4%;
    font-size: 1.2em;
    font-weight: bold;
}
.card-text{
    padding-top: 5%;
    font-style: italic;
    font-size: 1.1em;
    text-align: center;
}
.cardImage{
    padding-top: 5%;
    padding-left: 5%;
}
.card-img{
    height: 70%;
    width: 70%;
    border-radius: 50%;
}





/* //////////////////////////////////////////////////////////////// TEST SECTION ////////////////////////////////////////////////////////////////// */
#gallerySection{
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 0 auto;
}

#imageRow{
  display: flex;
  padding-left: 5%;
  padding-bottom: 1%;
  justify-content: center;
}



.gallImage{
    width: 90%;
    height: 90%;
}

.gallImage img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.gallImage img:hover {
    z-index: 9;
    transform: scale(1.05);
    /* linear | ease | ease-in | ease-out | ease-in-out */
    transition: transform ease 0.5s;
    cursor: pointer;
  }


/* //////////////////////////////////////////////////////////////// TEST SECTION END ////////////////////////////////////////////////////////////////// */


/* //////////////////////// FIFTH SECTION //////////////////////////////// */
#fifthSection {
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: linear-gradient(#f4f2ee,#c9e9f6, #c9e9f6);
    /* background-color: #c9e9f6; */
    /* #FCB2A9; */
    color: white;
    display: flex;
    justify-content: center;

}

#fifthSection h1 {
    padding-bottom: 3%;
}

#fifthSection P {
    padding-left: 5%;
    padding-right: 5%;

}

/* //////////////////////// FOOTER SECTION //////////////////////////////// */
.footersection {
    background-color: white;
    color: black;
    padding-top: 7%;
    padding-bottom: 2%;
    height: 70%;
}

/* .footersection iframe{
    border-radius: 10px;
    max-width: 80%;
    min-height: 10%;
    max-height: 20%;
} */

.footersection h5 {
    padding-bottom: 10%;
}

.footersection .foot1,
.foot2,
.foot3,
.foot4 {
    border-right: 1px solid rgba(156, 156, 156, 0.674);
}

#copyright {
    padding-top: 5%;
    font-size: small;
}

.footersection p {
    font-size: medium;
    font-weight: 400;
}

.footersection img {
    height: 50px;
    width: 50px;
    transition: 0.5s;
}

.footersection img:hover {
    height: 60px;
    width: 60px;
}

.footersection img.vert-move {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

.footersection img.vert-move {
    -webkit-animation: move 2s infinite alternate;
    animation: move 2s infinite alternate;
}

@-webkit-keyframes move {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes move {
    0% {
        transform: translateY(0);
        border-color: white;
        border-radius: 50%;
        color: white;
        box-shadow: 0 1em 1em -0.5em white;
    }

    100% {
        transform: translateY(-10px);
        border-color: white;
        border-radius: 50%;
        color: white;
        box-shadow: 0 1em 1em -0.5em white;
    }
}




/* //////////////////////// PRICING-TABLE SECTION //////////////////////////////// */



.pricing-table {
    margin: 0 auto;
    border-radius: 10PX;
    /*rounded edges */
    padding-left: 10%;
    /*top&bottom  left&right */
    width: 90%;
    /*100% of its parent*/
    max-width: 100%;
    /*width never gets more than 960px*/
    display: flex;
    /*end up with rows by default */
    justify-content: center;
    text-align: center;
    text-transform: uppercase;

}

.panel {
    background-color: white;
    border-radius: 10PX;
    /*rounded edges */
    padding: 15px 25px;
    /*top&bottom  left&right */
    width: 90%;
    /*100% of its parent*/
    max-width: 100%;
    /*width never gets more than 960px*/
    display: flex;
    /*end up with rows by default */
    justify-content: center;
    text-align: center;
    text-transform: uppercase;

}

.pricing-plan {
    border-bottom: 1px solid #e1f1ff;
}

.pricing-plan:last-child {
    border-bottom: none;
}

.pricing-img {
    margin-bottom: 25px;
    max-width: 100%;
}

.pricing-header {
    color: #888;
    font-weight: 600;
    letter-spacing: 1px;
}

.pricing-features {
    margin: 50px 0 25px;
    color: #016ff9;
}

.pricing-features-item {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0;
    border-top: 1px solid #e1f1ff;
}

.pricing-features-item:last-child {
    border-bottom: 1px solid #e1f1ff;
}

.pricing-price {
    color: #016ff9;
    display: block;
    font-size: 32px;
    font-weight: 700;
}


.pricing-button {
    border: 1px solid #9dd1ff;
    border-radius: 10px;
    color: #348efe;
    display: inline-block;
    padding: 15px 35px;
    text-decoration: none;
    margin: 25px 0;
    transition: background-color 200ms ease-in-out;
}

.pricing-button:hover,
.pricing-button:focus {
    background: #e1f1ff;

}

.pricing-button.is-featured {
    background-color: #48aaff;
    color: white;
}

.pricing-button.is-featured:hover,
.pricing-button.pricing-button.is-featured:focus {
    background-color: #269aff;
    color: white;
}


@media(min-width:900px) {
    .panel {
        flex-direction: row;
    }

    .pricing-plan {
        border-bottom: none;
        border-right: 1px solid #e1f1ff;
        padding: 25px 50px;
    }

    .pricing-plan:last-child {
        border-right: none;
    }
}


/* //////////////////////// MEDIA SECTION //////////////////////////////// */

@media (max-width: 1330px){
    .bookapp{
        font-size: 2.5em;
    }

}



@media (max-width: 990px){
    .carousel-content {
        font-size: 2em;
    }

    .article{
        height: 100%;
        width: 90%;
    }
    .article-details{
        height: 100%;
        width: 80%;}
    
    .article-button{
          padding-bottom: 4%;
        }
    
}

@media (max-width: 760px){
    
}



@media (max-width: 500px){

    #mainNavbar .navbar-brand {
        font-size: medium;
    }

    #mainNavbar .navbar-brand img {
        height: 20%;
        width: 20%
    }

    .sectionHeadings {
        font-size: 1.3em;
    }

    .carousel-content { font-size: 1.2em; left: 20%;
        right: 20%;}

    #missiontitle { font-size: 2.2em; }
    
    #missiondesc p{ font-size: small; }

    .article{
        height: 100%;
        width: 90%;
    }
    .article-details{
        height: 100%;
        width: 100%;}

    .bookapp{
        font-size: 1.5em;
        padding-bottom: 0%;
    }
    .booknow{
        font-size: 1em;
    }

    .article-button{
        padding-bottom: 4%;

    }

    #packdesctitle {
        font-size: .9em;
    }
    .card-body{
        font-size: small;
    }
    .magentabutton{
        font-size: small;
    }
    .magentabutton:hover{
        font-size: .9rem;
    }


    #fourthSection video {
        width: 500px;
        height: 400px;
        object-fit: fill;
    }

    .overlay{
        height: 98.6%;}

    #carouselExampleControls2{
        padding-top: 0%;
        height: 80%;
        width: 100%;
    }
    .carouselItem{
        padding-top: 0%;
    }
    
    .cardSlide{
        width: 100%;
        height: 100%;
    }

    .cardBody{
        height: 70%;
        width: 70%;
    }
    .card-body1{
        height: 60%;
    }
    .card-img{
        height: 50px;
        width: 50px;
    }
    .card-title{
        font-size: small;
        padding-top: 0%;
    }
    .card-text{
        padding-top: 0%;
        font-size:small;
    }
  


}



@media (max-width: 400px){

}